.exe
Nadia/output/vet5_v2.0.exe
Nadia/output/vet_test.exe
Nadia/output/Vetores_05.exe
Nadia/output/vetores_09.exe
Nadia/output/Vetores_31.exe
output/teste.exe
output/treino1.exe
output/vet_test.exe
output/Vetores_05.exe
output/Vetores.exe
.vscode/settings.json
testeBlocks.exe
testeBlocks.o
