Lista1_Algoritmos/output/Ex_01.exe
Lista1_Algoritmos/output/Ex_02.exe
Lista1_Algoritmos/output/Ex_04.exe
Lista1_Algoritmos/output/Ex_03.exe
Lista1_Algoritmos/output/Ex_05.exe
Lista1_Algoritmos/output/Ex_06.exe
